[2019-02-18 03:53] jerryneedell opened #5 "failure to fetch data results in looping failures"
While running the esp32spi_cheerlights.py example I have occasionally found it stuck in a loop of failures at https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/examples/esp32spi_cheerlights.py#L49

It typically runs for several hours before this failure occurs.

A simple workaround appears to be to add an
[code]
when this error is detected - I am running a long test to see if

[2019-02-18 03:55] makermelissa commented on #5
What if you add the reset between the print and continue lines?

[2019-02-18 03:57] jerryneedell commented on #5
that is what I have done.
[code]

[2019-02-18 03:58] jerryneedell commented on #5
adding it on every get was just a test -- not meant for a fix

[2019-02-18 03:59] makermelissa commented on #5
Oh I get it now. Thanks. I just meant test the modification in the library itself to see if that does fix it.

[2019-02-18 05:00] jerryneedell commented on #5
I'm not sure we need to force the RESET in the library -- it may be better to let the user decide how to respond.= as in the example.

[2019-02-18 14:43] jerryneedell commented on #5
OK -- after running fo over 12 hours, it did catch an error and the RESET was successful
[code]

Should I go ahead and add this to the examples that need it or do you want to implement it differently?

[2019-02-18 17:02] makermelissa commented on #5
I want to implement it a little differently. I’ll go ahead and get that changed this morning. Thanks for finding this.

[2019-02-18 17:19] ladyada commented on #5
hiya i'd like the wifimanager to hard reset on communication failure at the top of the connection-check section so in theory the exception is caught, it goes to the next loop where it tries to fetch data, and hard-resets there

[2019-02-18 17:44] jerryneedell commented on #5
It was not clear to me if the communication failure I was seeing resulted in a loss of connection or not. It just kept retrying the get and was failing the get_host_by_name.  Issuing the reset after the failed get attempt forced it to reconnect at the next loop but it was done outside the wifi-manager.

[2019-02-18 17:54] makermelissa commented on #5
I created a PR that will hopefully address this.

[2019-02-19 19:53] makermelissa commented on #5
Closed #5 via #6.

[2019-02-19 19:53] #5 closed

[2019-02-19 21:11] makermelissa opened #8 "Linking to or including ESP32 Firmware"
I'm wondering if we should include the ESP32 firmware in the examples (along with instructions) or maybe even just link to it. Currently it's available at https://github.com/ladyada/CircuitPython_WiFi_Demos/blob/master/esp32program/NINA_W102.bin

and the command to flash it (on a Mac at least) is:
`/usr/local/bin/esptool.py --chip esp32 --port /dev/ttyUSB0 --baud 115200 --before default_reset --af

[2019-02-20 18:25] ladyada commented on #8
i think best if we add it to the existing ESP co-processor guide and link there?

[2019-02-20 20:36] jerryneedell opened #9 "json error in get"
I was trying to test @brentru  adafruit_io library and started getting jason errors when trying to use his "get_all_feeds" function  -- I then tried the same "get" just using esp32spi (via wifimanager) and get the same error so there seems to be an underlying issue in esp32spi

here is the test case
[code]
here is the log -- with some repeated lines removed

[code]

[2019-02-20 20:50] jerryneedell commented on #9
I realize the response was big - 8308 bytes -- is there a limit?

[2019-02-20 21:06] jerryneedell commented on #9
hmm -- it does look like a byte limit -- I changed "feeds" to "groups" to create a smaller response and it works fine.

If there is a limit, should there be a graceful error?

[code]

[2019-02-20 21:22] makermelissa commented on #9
Good question. I didn’t even realize there was a limit before you found this. I think ideally it should attempt to grab it in chunks and assemble it if that’s possible.

[2019-02-20 21:39] jerryneedell commented on #9
i'm not sure there is a limit, but it looked suspicious.

[2019-02-20 21:52] ladyada commented on #9
the socket/requests code should do it all for you - in chunks o' 4K - we've downloaded 250KB bitmaps so that works for sure :)

[2019-02-20 21:53] jerryneedell commented on #9
so any idea what failed?

[2019-02-20 22:01] ladyada commented on #9
sorry no :/ i haven't run this demo yet - perhaps in `requests` or `esp32spi` have it dump the socket buffer?

[2019-02-20 22:04] jerryneedell commented on #9
OK - no problem -- I misunderstood :-)  Will keep looking into it.

[2019-02-20 22:06] ladyada commented on #9
np - its a mystery - and maybe i have a bug too...not sure :D also json parser may not be so great ;)

[2019-02-20 22:15] makermelissa commented on #9
I can take a closer look this evening. I don’t have my computer with me at the moment.

[2019-02-21 04:09] makermelissa commented on #8
Yeah, that would probably work best.

[2019-02-21 04:54] makermelissa commented on #9
Ah yeah, ok. I think @ladyada is correct about the JSON parser. This looks like the error message is `syntax error in JSON`, which means that it probably wan't valid JSON (this can be verified by running it through a JSON parser online). Some JSON parsers can still parse imperfect JSON, but I'm guessing ujson (the library used) is meant to be small so doesn't have really any margin of error. The t

[2019-02-21 04:59] makermelissa commented on #9
As a follow-up after looking at the code, it doesn't appear to handle single quotes, or capitalized True, False, Null, etc.

[2019-02-21 05:18] makermelissa commented on #9
Just noticed this in the comments which I formatted a little better.

"The JSON specification is at http://www.ietf.org/rfc/rfc4627.txt
The parser here will parse any valid JSON and return the correct corresponding Python object.  It allows through a superset of JSON, since it treats commas and colons as "whitespace", and doesn't care if brackets/braces are correctly paired.  It will raise a Value

[2019-02-21 21:00] jerryneedell commented on #9
FYI - an update -- I have been running the "cheerlights" demo for a long time (>24 hours) but I notice that it had stopped updating so I connected to the REPL and say that it was connecting but reporting JSON errors!  I had not seen these with this demo before. However, rebooting the system made the problem go away - it connected and is updating normally again.  That makes no sense to me...
I hope

[2019-02-22 12:04] jerryneedell opened #11 "hang during get"
Not much to go on, but I wanted to document this as well as I can:
I was running the cheerlights demo overnight. In the morning I noticed it was not updating and appeared to just be hung. I entered control-C ather REPL and this is the traceback:
[code]
It appears to have been stuck in _waot_response_cmd()

That's all the information I have at this point.

[2019-02-23 04:42] makermelissa commented on #8
Looks like the guide was updated with this. Closing.

[2019-02-23 04:42] #8 closed

[2019-02-26 05:24] anecdata opened #13 "adafruit_esp32spi_wifimanager: allow DotStar as status pixel?"
Since ItsyBitsy M4 is a viable main MCU board to use with the ESP32 co-processor, would be nice to be able to use the built-in DotStar as the status pixel instead of adding an external NeoPixel.

[2019-02-26 06:31] ladyada commented on #13
yeah honestly we should just default to the built in LED - want to try a PR?

[2019-02-26 07:33] anecdata commented on #13
I'm 95% n00b at [Circuit]Python and 100% n00b at git[Hub] tools & process, wouldn't trust me to modify libraries at this point. Happy to test stuff though, I'm good at breaking code ;-)

[2019-02-26 14:19] anecdata commented on #13
Thought there'd be a simple abstraction or conditional possible, but DotStar not in n HAL or core modules. The CP RGB status LED works for both neos and dots though (CPX ibeing special), so maybe some abstraction there. Or... cheerlights uses fancyled?

[2019-02-26 14:28] jerryneedell commented on #13
@ladyada Are you suggesting using the builtin LED (D13 on most boards) instead of the neopixel? It would still be nice to pass in a Pin since there are some odd cases (particle boards for instance). But are you ok with just an on/off for the LED instead of the colors the neopixel now uses or do you want to preserve the option for a neopixel. Should we have 2 optional kwargs -- one for a Neopixel,

[2019-02-26 17:01] makermelissa commented on #13
I think this is a great idea! I didn't realize the ItsyBitsy had a DotStar. I'm going to think about the best way to implement this.

[2019-02-26 17:05] ladyada commented on #13
ideally you'd pass in a NeoPixel or DotStar *object* that you'd call `fill` on - no instantiation in the library itself

[2019-02-26 17:09] makermelissa commented on #13
Yeah, that's kind of along the lines of what I was thinking. That's about how I did the DotStar/NeoPixel abstraction in the FeatherWing library.

[2019-02-26 20:15] makermelissa commented on #13
Fixed #13 via #14.

[2019-02-26 20:15] #13 closed

[2019-02-26 20:45] siddacious opened #15 "Expose RSSI in WifiManager for the established connection"
It would be great to be able to do something like `wifi.rssi` or more descriptively `wifi.signal_strength` so that one could periodically log/display the signal strength.

[2019-02-26 21:47] brentru commented on #15
Great idea - you could expose this method: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/adafruit_esp32spi/adafruit_esp32spi.py#L386

[2019-02-26 21:50] makermelissa commented on #15
That should be easy enough to do.

[2019-02-27 03:53] makermelissa commented on #15
Fixed #15 via #16 and #18.

[2019-02-27 03:53] #15 closed

[2019-02-28 18:20] jerryneedell opened #19 "building NINA firmware -- version still 1.2.1"
When I try to build my own copy of the NINA_W102 firmware --  It compiles fine with the latest version of the esp-idf  but I found that the  Firmware Version is still set to 1.2.1  in the adafruit/nina-fw repo https://github.com/adafruit/nina-fw/blob/master/main/CommandHandler.cpp#L28   Is this repo up to date?  How did you get version 1.2.2 in the posted NINA_W102_17_FEB_2018.bin?   My build seem

[2019-02-28 18:47] ladyada commented on #19
i think i hand changed it later

[2019-02-28 18:47] ladyada commented on #19
please try it out and if it works, you can submit a PR there!

[2019-02-28 18:48] jerryneedell commented on #19
ok -- will do

[2019-02-28 19:08] jerryneedell commented on #19
PR submitted

[2019-02-28 19:08] #19 closed

[2019-03-04 15:04] anecdata commented on #11
I see a similar behavior. On PyPortal running with >100k free memory, I have a wifimanager .get that fails routinely after a few of minutes (always seems to be during the 2nd .get in a sequence of 2 - I'm just pulling short pieces of text from an API), requiring manual reload:

[code]

[2019-03-04 16:54] ladyada commented on #11
@jerryneedell can you add a timeout? errors are fine - ESP32 sometimes goes off into a bad zone - but it should raise an error rather than hangning

[2019-03-04 17:18] jerryneedell commented on #11
I'll take a look at it  -- timeout sounds like a good idea.

[2019-03-06 12:33] jerryneedell commented on #11
Still looking into just where this is hanging and where a timeout should be added.  It takes a long time to reproduce ;-)

[2019-03-08 21:52] anecdata opened #22 "HTTP server response headers are not cleared between fetches"
This issue will probably have to get moved. I'm seeing some interesting behavior with web server response headers, not sure where to put the issue. Somewhere, I don't think it's here in ESP32SPI, but then must be either NINA FW or the depths of CP.

Headers not served by the current server are delivered back to the client. I see this on every HEAD or GET from virtually any site after the first sit

[2019-03-09 00:21] anecdata commented on #22
Code and output in a Gist here: [https://gist.github.com/anecdata/922abc20112a442a4fed46bc1f6ad493](url)

This happens with fetches using either adafruit_esp32spi_wifimanager.py or using adafruit_esp32spi_requests.py directly.

[2019-03-09 00:29] ladyada commented on #22
hiya that gist is private? or...we cant see it?

[2019-03-09 00:32] anecdata commented on #22
Should be public, I can open it in a Private tab. Maybe I was editing?

[2019-03-09 00:33] ladyada commented on #22
oh you have to copy and paste - click wont work

[2019-03-09 00:34] anecdata commented on #22
Sorry, operator error, link fixed.

[2019-03-09 00:42] makermelissa commented on #22
Thanks @anecdata. I just tried it on my PyPortal and am seeing the same results as you.

[2019-03-09 01:04] #22 closed

[2019-03-09 04:48] anecdata opened #24 "Adding HTTP request headers doesn't work (adafruit_esp32spi_requests.py)"
There is a facility for any HTTP request (HEAD, GET, POST, etc.) to have optional user-specified HTTP headers added. For example, 'Http-X-MyCustomHeader: BlahBlahBlah'.
[code]
Current version pieces together the header components to write the header to the socket based on user-specified dict containing one or more key-value pairs describing the header name and value, but there's a runtime error wh

[2019-03-09 06:09] makermelissa commented on #24
Hi, do you want to submit a PR and then some more “seasoned” eyes could take a look at that during the review? 🙂

[2019-03-09 06:17] anecdata commented on #24
Sure, I'll give it a shot. There's a first time for everything. I'll do some reading on the process and see what I need to set up to do that.

[2019-03-09 06:22] makermelissa commented on #24
https://learn.adafruit.com/contribute-to-circuitpython-with-git-and-github

[2019-03-11 16:12] brentru commented on #24
Fixed in release 1.3.4! Closing...

[2019-03-11 16:12] #24 closed

[2019-03-11 18:12] jerryneedell opened #26 "change local time example to use adafruit.io"
Should the esp32spi_localtime.py example be updated to use adafruit.io instead of worldtimeapi as was done for PyPortal?
Would it be good to show how to use both? Two examples or use comment blocks to allow either?

Or just close this if you want to leave it as is?

[2019-03-11 18:19] ladyada commented on #26
i think...this is ok to keep as is because its a good basic json demo - pyportal its hidden :)

[2019-03-11 18:19] #26 closed

[2019-03-13 19:12] martymcguire opened #28 "requests fails sending large header values or paths over socket"
I'm trying to make an HTTP request with a ~356 byte access token, and when making the request via `requests.get(...)` it fails with:

[code]
With the ESP's `_debug` turned on, I see something like this (redacted for token privacy):

[code]
The server I'm talking to allows me to pass the token in the query string, but I end up with a very similar error (failing on the `GET /microsub/1?...` line).

[2019-03-13 19:14] ladyada commented on #28
yep - i think we just haven't sent large chunks of data before, we split into 64 bytes! or you can try to do it at the socket-send level if you want to try :)

[2019-03-29 03:39] xelll opened #31 "It took a long time to connect to WiFi."
i use raspberry pi zero with esp-wroom-32, it took too long to connect ap. about 30 sec
   https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/c2e0fd2b094d187f4aa52f7180c7a11b652250fc/adafruit_esp32spi/adafruit_esp32spi.py#L418-L441

[2019-03-29 03:50] ladyada commented on #31
im surprised it worked at all, it's meant for small microcontrollers, but i dont see why it wouldn't work

[2019-03-29 04:07] xelll commented on #31
ok， but my problem is esp32 connect to ap took too long time

[2019-03-29 04:10] ladyada commented on #31
there's not much we can do about it I think, it takes as long as ESP32 takes - you should use a USB WiFi adapter for Linux wifi usage :)

[2019-03-29 06:40] #31 closed

[2019-03-29 09:46] xelll commented on #9
did you use this esp32 firmware？
https://cdn-learn.adafruit.com/assets/assets/000/071/843/original/NINA_W102_Feb_17_2018.bin?1550892535

[2019-03-29 18:01] ladyada commented on #9
yep thats what we use

[2019-03-30 04:08] xelll commented on #9
ok, did you test how fast is it? i test it about 160KB/s ，but not very stable.

[2019-03-30 05:33] ladyada commented on #9
yes its not stable compared to a USB wifi adapter, its meant for simple microcontrollers!

[2019-03-30 05:42] xelll commented on #9
ok， how fast can it work stable.

[2019-04-01 05:12] ladyada commented on #9
there's no speed relation, it is a completely different system of using the internet. really, we recommend using a USB wifi adapter if you are on linux

[2019-04-01 07:11] xelll opened #32 "some bug in https://github.com/adafruit/nina-fw/"
https://github.com/adafruit/nina-fw/blob/35966a57f91f2de73d3f935f45a6e3d08e8b5d51/main/CommandHandler.cpp#L1093

this delay should be more big, otherwise will occur memory leak.

[2019-04-01 08:59] xelll commented on #9
ok...

[2019-04-01 20:06] ladyada commented on #32
@xelll thanks - what values did you try?

[2019-04-02 01:18] xelll commented on #32
100...

[2019-04-04 06:31] warthog9 opened #33 "Spaces in SSID results in couldn't connect and 'No such ssid'"
Running the sample code from https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/examples/esp32spi_simpletest.py

On a PyPortal and using:
[code]
Noting the SSID has a space in it.

https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/c2e0fd2b094d187f4aa52f7180c7a11b652250fc/examples/esp32spi_simpletest.py#L33

results in:
[code]
Also noting that, yes, I'm running m

[2019-04-04 06:33] ladyada commented on #33
ha - do you have the ability to try it on arduino IDE? just curous if its a python thing or an ESP32 thing.

[2019-04-04 07:32] warthog9 commented on #33
Ok, this might be a false alarm and indicative of a bug not in this code.  I thought I had a reliable test case, but in poking at it some more it started failing in different ways.  Might be an issue in the code on my access points, as disabling them and re-enabling them to try and isolate what was going on further changed the pathology, and giving one of them a swift kick in the reboot button see

[2019-04-04 07:32] #33 closed

[2019-04-07 00:54] rdagger opened #35 "Companion firmware binaries"
Are there pre-built binaries for the companion firmware?

[2019-04-07 01:00] docmollo commented on #35
The official firmware is available from the Learn guide (https://learn.adafruit.com/adding-a-wifi-co-processor-to-circuitpython-esp8266-esp32/firmware-files#esp32-only-spi-firmware-3-8). If you're looking for a pre-compiled binary with WPA2 Enterprise support, that hasn't been released yet, as the support just got merged.

[2019-04-07 16:30] ladyada commented on #35
@doc dya wanna attach a file here and then i can put it in the learn guide

[2019-04-07 16:35] docmollo commented on #35
Sure! Here ya go.

[NINA_W102-1.3.0.zip](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/files/3051756/NINA_W102-1.3.0.zip)

[2019-04-07 16:36] ladyada commented on #35
@rdagger please try it!

[2019-04-07 18:01] rdagger commented on #35
@ladyada Thanks, it works great!

[2019-04-07 19:50] docmollo commented on #35
Thanks @rdagger! You might be the first person to try out the new code...certainly the first to try out my binary firmware file. Glad to hear it all works for you! :blush:

[2019-04-07 20:21] ladyada commented on #35
https://learn.adafruit.com/adding-a-wifi-co-processor-to-circuitpython-esp8266-esp32/firmware-files

[2019-04-07 20:21] #35 closed

[2019-04-11 19:16] anecdata opened #36 "Expose additional NINA FW SPI command handlers (AKA Release the Kraken)"
The ESP32 module used as an ESP32SPI co-processor is a bit of monolith. It does its job silently, in the dark, with no external user controls or indicators. But there is untapped power even as a co-processor.

This issue is an enhancement request to expose additional command handlers from CommandHandler.cpp from the adafruit/nina-fw, especially setPinMode, setDigitalWrite, and setAnalogWrite.

The

[2019-04-15 14:11] anecdata commented on #11
Only within the past week I've been getting hangs sometimes overnight on PyPortal (since updating to 4.0.0-beta6 or -beta7). This one is after a run with 1,020 successful GETs (HTTP OK  code 200), 8 408s (server timed out waiting for client - I've gotten some 408s regardless of version), and sporadic retries:
[code]
I'll try to capture with debug enabled, and see if I can isolate anything.

[2019-04-15 16:27] ladyada commented on #11
the thing i dont get is that we have a timeout in taht code

[code]

which makes me wonder if eventually `time.monotonic()` stops working! can you set `_debug` to 3 and turn on REPL output so we can tell where it might be failing/hanging?

[2019-04-15 17:00] anecdata commented on #11
Done: debug=3 & I'm saving a large scrollback. I don't have the output anymore on the original hang, but if I recall correctly the system time.montonic elapsed (since power/ boot) was approx. 40,000 seconds, and the program run time was approx.20,000 seconds. (The PyPortal code does also occasionally restart itself when I'm not looking, but I assume that's unrelated.)

[2019-04-15 18:11] anecdata commented on #11
Oddly, now I'm routinely getting memory errors I haven't seen before (no other code changes, other than debug):
`File "adafruit_esp32spi/adafruit_esp32spi.py", line 240, in <listcomp>
MemoryError: memory allocation failed, allocating 1024 bytes`
Which is odd since the available memory prior to the last HTTP call was 63792b
Something due to debug??

[2019-04-18 01:08] rdagger opened #37 "WiFiManager debug not working"
An error is thrown upon connection if you set debug to true:
[code]

Also the status_pixel parameter is supposed to be optional, but it's not.

[2019-04-19 15:13] rdagger commented on #37
Disregard regarding debugging.  I figured out that you can't set the debug from the WifiManager.  Instead it has to be set when you initialize adafruit_esp32spi.
[code]
But the status_pixel parameter is supposed to be optional.

[2019-04-23 02:47] cpforbes commented on #36
I just submitted PR #38 that exposes the low level GPIO commands already in the nina-fw. Nothing specific to a particular ESP32 board.

[2019-04-23 02:51] ladyada commented on #36
nice!
anyone wanna test it out? @brentru should be able to twiddle the RGB LEDs on the AirLift breakout

[2019-04-23 03:06] brentru commented on #36
Yup, I’ll test and review tomorrow.

On Mon, Apr 22, 2019 at 10:51 PM ladyada <notifications@github.com> wrote:

[2019-04-23 03:18] anecdata commented on #36
Airlift Breakout RGB LEDs are on! <img width="802" alt="RGB" src="https://user-images.githubusercontent.com/16617689/56550893-79639500-654c-11e9-947d-26f0f0fcc9f8.png">

[2019-04-23 03:19] ladyada commented on #36
:D

[2019-04-23 03:25] anecdata commented on #36
Pin #13 RED LED on Feather ESP32 is on!
<img width="997" alt="13" src="https://user-images.githubusercontent.com/16617689/56551281-8a60d600-654d-11e9-90c5-d9153caccd49.png">

[2019-04-25 14:32] brentru commented on #36
Merged into master and released!

[2019-04-25 14:32] #36 closed

[2019-04-25 14:33] brentru commented on #37
The latest release fixes the debug parameter. Do you still see this issue when using it?

[2019-04-26 17:51] MisterC925 opened #41 "Using Adafruit.io weather API, responses often truncated"
I've tried adapting the PyPortal weather example to use the Dark Sky data from Adafruit.io

I'm still using the PyPortal library from adafruit_pyportal as in the original code.

When pyportal.fetch() is called, at least 50% of the time the JSON is truncated, resulting in an exception for json.loads.

I've noticed that successful fetches gather around 6k of data and the failing ones are all truncat

[2019-04-26 18:42] rdagger commented on #37
Yes, it's working.  Thanks.

[2019-04-26 18:42] #37 closed

[2019-04-30 06:21] #32 closed

[2019-05-05 21:15] ZachNo commented on #11
I fixed it hanging on my end by adding the timeout in `readline`.

It appeared to hang in the `while b'\r\n' not in self._buffer:` while loop because the value returned from `socket_available` is always zero. (Most likely a transient network error?)

After adding a max tries to that while loop, and throwing an exception after that threshold my PyPortal now seems to run perfectly.

[2019-05-05 21:17] ladyada commented on #11
@ZachNo more timeouts are better, if you have a PR for a timeout addition please submit!

[2019-05-14 16:31] caternuson commented on #11
Was #44 suppose to fix this? Looks like there is some history here. I've only just recently run into this. It appears that only fixed `read`, not `readline`? I'm having issue with getting stuck here also:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/adafruit_esp32spi/adafruit_esp32spi_socket.py#L90
when the response is empty.

[2019-05-23 00:58] nezra opened #46 "Analog read"
given the huzzah32 with it's battery & voltage divider attached directly to one of the analog pins;  and the release the kraken patch, #34?, would it be possible to add an analog read function? and maybe a digital read?

I'd like to use the built in battery functionality of the huzzah32 to power a portion of a project; and possibly use it for supplementary IO; but i'd want to monitor the voltage.

[2019-05-23 01:52] ladyada commented on #46
you could but yeah you'd have to add the matching capability to nina-fw as well - we don't have plans to add it but feel free to!

[2019-05-23 18:19] anecdata commented on #46
Your issue on NINA could be combined with #19[https://github.com/arduino/nina-fw/issues/19](url)

That's the place to start. Once (if) it's implemented in the NINA firmware, it's straightforward to expose it from the ESP32SPI library.

[2019-05-28 02:28] caternuson commented on #11
I've been running with the PR44 version of the lib and it seems to have fixed this.

@jerryneedell Have you had a chance to test as well?

[2019-05-28 02:53] ladyada commented on #11
@caternuson maybe we should do a release? a couple of these were fixed

[2019-05-28 12:01] jerryneedell commented on #11
I did try #44 and had no problems with it.

[2019-05-28 13:47] caternuson commented on #11
@ladyada yep, i'd say so.
@jerryneedell do you think this issue is resolved?

[2019-05-28 15:07] jerryneedell commented on #11
@caternuson Yes, I thinks so. If it recurs we can always file a new issue.

[2019-05-28 16:02] caternuson commented on #11
cool. thanks. or reopen this one, closing for now.

[2019-05-28 16:02] #11 closed

[2019-05-28 16:41] ladyada commented on #9
@jerryneedell is this resolvedish?

[2019-05-28 16:43] jerryneedell commented on #9
I think so -- At least I have not seen it in a long time -- Closing...

[2019-05-28 20:14] jerryneedell commented on #9
oops -- closed too soon -- this issue is still present

[code]
here is the test code
[code]

[2019-05-28 20:24] jerryneedell commented on #9
retested after merging #44 and it still fails as above.

[2019-05-28 21:20] brentru opened #47 "Expose RGB LEDs in WiFiManager, instead of NeoPixels"
Some of the AirLift breakouts use RGB LEDS instead of NeoPixels. It'd be nice to have an status indicator LED within the WiFiManager for cases when NeoPixels aren't present.

The AirLift Breakout follows the pin ordering: 25 (Red), 26 (Green), 27 (Blue).

[2019-05-28 21:46] makermelissa commented on #47
Do you know if we have a library to set the color of RGB leds? I had abstracted it so either a DotStar or Neopixel could be passed in. Probably not, but I’m just hoping it will be that easy to implement. :)

[2019-05-28 21:54] brentru commented on #47
@makermelissa  Yup! The LED pins can be defined in ESP32SPI (https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/adafruit_esp32spi/adafruit_esp32spi.py#L629)

and written to as outputs, in `set_digital_write` (https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/adafruit_esp32spi/adafruit_esp32spi.py#L647).

You can also PWM the RGB LEDs:
https://github.com/a

[2019-05-28 21:58] makermelissa commented on #47
It might be good to create another class in this library for RGB leds that handles the color mixing that can be passed in like the DotStar or Neopixel.

[2019-05-28 22:07] brentru commented on #47
Agreed!

[2019-05-28 22:36] ladyada commented on #9
what do you see when you print the text out before json parsing?

[2019-05-29 01:33] jerryneedell commented on #9
I'm not sure what you are looking for... what do you want me to print out?

[2019-05-29 01:34] ladyada commented on #9
`response.text` or somethin :)

[2019-05-29 03:40] anecdata commented on #47
You folks probably know more than I do about upcoming products (e.g., Airlift FeatherWing). But right now, only the [Airlift Breakout](https://adafru.it/4201) has separate R, G, and B LEDs. Airlift Metro does not. The ESP32 Breakout does not (R only on pin 13), and the ESP32 Feather does not (R only, on pin 13). These are both valid NINA targets for ESP32SPI. Do we want to consider not combining t

[2019-05-29 03:57] anecdata commented on #47
Not to muddy the waters, but currently in a main board + separate co-processor board config, there is no way (that I know of) for the main board to know *which* co-processor form factor is in use. It could be possible to determine this if inputs are enabled in the NINA firmware, and the corresponding functions are exposed in ESP32SPI. The only other way I've thought of is to manually set main boar

[2019-05-29 04:19] anecdata commented on #47
This is maybe much ado about nothing. I suppose one could just set status_led to None if they didn't want to use the Airlift RGB LEDs with a non-Airlift separate main board.

[2019-05-29 07:29] turbinenreiter opened #48 "Runtime Errors in WiFiManager when posting in a loop"
The following (simplified) code snippet:

[code]

leads to this output:

[code]

So you can see that it pretty reliably does 10 requests, fails at the 11th and then resets.

Although it is easy to make your code robust against this issue, the consistency of the number of requests you can do makes me think that there might be a fixable underlying issue worth investigating.

[2019-05-29 10:28] jerryneedell commented on #9
OK -- added print(response.text) before print(response.json())

[code]

[2019-05-29 13:28] ladyada commented on #9
yeah looks like its incomplete - dunno why tho

[2019-05-29 14:48] brentru commented on #47
@anecdata  All good points - I didn't consider a user wanting to use the status indicator RGBs for a different purpose other than showing the breakout's status. I agree on a user-defined `status_pixel=None` kwarg to indicate if they want to use, possibly `status_pixel=rgb_leds` to indicate the leds

[2019-05-29 14:55] anecdata commented on #47
Sounds perfect. Sorry for all my rambling. It took me awhile to think (out loud) through all the configs and come back around to "this is a good concept and makes sense". Keeps all options open for users.

[2019-05-29 15:22] makermelissa commented on #47
Another other option, if it doesn’t already exist is to have a separate library for controlling RGB LEDs. It might be useful for hooking up an external RGB LED or any non-Adafruit boards that might have such an LED on it.

[2019-05-29 15:29] brentru commented on #47
@makermelissa I did some work on this earlier today, I don't think much needs to be changed since you're already passing a tuple into the pixel fill method within `_wifimanager`

https://github.com/brentru/Adafruit_CircuitPython_ESP32SPI/commit/57cfce1844f2410ce3c136df3ce714d8b6271110

specifically here: https://github.com/brentru/Adafruit_CircuitPython_ESP32SPI/commit/57cfce1844f2410ce3c136df3ce7

[2019-05-29 15:33] makermelissa commented on #47
I agree that it won’t take much. Also, it should allow for a 24-bit integer that can be easily be bit-shifted to get the RGB values.

[2019-05-29 15:37] brentru commented on #47
@makermelissa  why would you want to opt for that over using tuples, similarly to how the neopixels are used?

[2019-05-29 15:39] makermelissa commented on #47
Not necessarily opt, but at least provide another option for users since DotStar and Neopixel can already handle both. Either way is fine really.

[2019-05-29 15:49] ladyada commented on #47
yeah i agree with @makermelissa - having an adafruit_circuitpython_rgbled class would help with pulseio interfacing too, and inverted logic. iz a good idea! then this can mimic it

[2019-05-29 20:41] anecdata opened #49 "Variable Request Timeouts"
adafruit_esp32spi_requests.py `request()` sets `socks.settimeout()` to 1 second. This is fine in many cases, but due to server, traffic, and various other issues, it may not be enough to reliably fetch data. Retries can partially resolve this, but more user control over timeouts would give users the ability to make their own trade-offs between speed and reliability.

I'd propose initially making t

[2019-05-29 22:30] brentru commented on #47
Ok, we'll hold off on this for now until we have RGBLED.

RGBLED Class work started in https://github.com/adafruit/CircuitPython_RGBLED, work being done on my branch https://github.com/brentru/CircuitPython_RGBLED

[2019-05-31 15:02] anecdata commented on #49
I can do a PR. I would like someone who is more pythonically experienced and has a good sense of the architecture to confirm whether this is a reasonable approach, or suggest an alternative.

I'll run this change on a bunch of devices all weekend. Experience so far is much better reliability with programmatic control of timeout.

Another reference point: @kenneth-reitz's @requests library supports

[2019-05-31 15:31] brentru commented on #49
@anecdata when you submit your PR, tag the CircuitPython Librarians group for a code review.

[2019-05-31 15:32] makermelissa commented on #49
It sounds like a reasonable approach to me. :)

[2019-05-31 15:37] anecdata commented on #49
OK, thanks. I'll test for a while longer, then submit.

[2019-06-04 18:37] ATMakersBill opened #54 "PyPortal download fails"
Hi folks, I have a project that needs the PyPortal to download multiple .wav, .bmp, and .json files from a server.  It then caches them on the SD card.

I am getting these errors when downloading multiple files:
`Fetching stream from http://api.atmakers.org/sounds/Joey/next.wav
Traceback (most recent call last):
  File "code.py", line 92, in <module>
  File "code.py", line 54, in loadBoard
  File

[2019-06-07 21:57] #49 closed

[2019-06-12 18:51] brentru commented on #47
This has been addressed by https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/53 and released in latest (1.4.2).

[2019-06-12 18:51] #47 closed

[2019-06-19 18:15] tannewt opened #55 "Implement socket.socket.recv_into"
https://docs.python.org/3/library/socket.html#socket.socket.recv_into

Adding _into methods would allow for a long lived buffer provided by the client code rather than a new, potentially large, buffer every read.

[2019-07-18 18:57] lemonkey commented on #41
I see this for images as well.

[2019-07-27 21:39] ymauray commented on #41
This is really anoying, especially when getting forecast data from OpenWeatherMap : 3 hours periods = 8 periods per day, * 5 days for a nice forecast = 40 periods, and there is a ton of data per period.

Is the data truncated because of available memory or is it just arbitrary ?

[2019-07-27 21:48] ladyada commented on #41
try turning on debug mode and looking at where the failure is happening, that will help!

[2019-07-27 23:57] ymauray commented on #41
I realize my test case was using a swiss weather service, not OpenWeatherMap.
Here's my test case :
I changed  DATA_SOURCE to reference the Swiss service
[code]
This returns a huge json file with a ton of info.
Once debug is turned on on PyPortal, the json is printed and I can see that it is truncated :
[code]

Line 64 and 65 of openweather_graphics.py are
[code]
which is called from main program

[2019-07-28 00:54] ladyada commented on #41
hard to tell but yeah thats a huge JSON - see if you can get one day at a time

[2019-07-31 03:05] siddacious opened #62 "WSGI Server example fails trying to import `parse_headers`"
[code]
there is no `parse_headers` in `adafruit_requests`, it was inlined into the body of the `request` method

[2019-07-31 17:32] siddacious commented on #62
Fixed, thanks to @brentru . It does

[2019-08-13 16:51] calittle opened #63 "Connection Sleep or Timeout"
This is an enhancement request to provide for dropping a connection and shutting off the radio after a specified time period of no use or after a fixed time period. Upon request e.g. post(), WifiManager will turn on the radio and reestablish the connection and reset the timer. This could be useful for battery-powered projects where always-on radio and connections will drain the battery quickly.

[2019-08-13 20:11] siddacious commented on #63
@brentru Does the NINA firmware have a shutdown feature?

[2019-08-19 15:03] #62 closed

[2019-08-24 13:39] mscosti commented on #63
I'm not sure exactly what 'low power mode' does, but NINA does support putting it into a low power mode: https://github.com/adafruit/nina-fw/blob/master/main/CommandHandler.cpp#L148-L162

[2019-08-24 16:05] ladyada commented on #63
thats as good as yr gonna get. anyone want to implement that function as a PR? :)

[2019-09-13 10:59] jerryneedell opened #72 "get_time( ) returns (0,) for awhile"
while investgating this issue
https://github.com/adafruit/Adafruit_CircuitPython_NTP/issues/2

I found that esp.get_time() sometimes returns (0,) after first connectng.
It eventually returns a good value but it can take >15 seconds

using this test code"
[code]
you can see the problem

[code]

[2019-09-13 22:23] ladyada commented on #72
wanna add an exception raise?

[2019-09-13 22:59] jerryneedell commented on #72
Sure. Just raise ValueError? Let caller decide whether to retry?

[2019-09-13 23:04] ladyada commented on #72
yeppers

[2019-09-15 10:46] #72 closed

[2019-09-20 17:20] anecdata opened #74 "Expose more NINA FW SPI command handlers: getCurrBSSID, getIdxBSSID, getIdxChannel"
These handlers are useful for general LAN troubleshooting, especially in networks with multiple APs having the same SSID (sometimes called 'roaming networks').

I have working code, will test more then submit a PR.

**NINA FW SPI [command handlers](https://github.com/adafruit/nina-fw/blob/47875b775aee74c5f948ef2b955c9786b023a89e/main/CommandHandler.cpp#L1049) _not_ defined or implemented in esp32s

[2019-09-20 17:21] ladyada commented on #74
i'd be ok with them but ideally you could also add matching handlers to espspi :)

[2019-09-20 17:25] anecdata commented on #74
Yeah, that would be the idea. I could do the expose on the ESP32SPI side once NINA is available, but I'm not cpp enough to do the NINA side.

[2019-09-20 17:27] ladyada commented on #74
finding a buddy and working together sounds like a good idea!

[2019-09-21 15:29] docmollo commented on #74
@anecdata I'm happy to help out on the NINA fw side, if you'd like. This weekend is booked for me, and fair warning, work has been crazy lately, but the next few weekends are looking clear at the moment. We can work here, in the CP discord, private DM on Discord, or I can DM you my email address and we can work that way. Let me know....

[2019-09-21 20:01] anecdata commented on #74
@docmollo Cool, thank you! Probably similar to what you did with the enterprise handlers. I can work wherever too. Discord PM is fine, keeps the chatter from distracting others. I usually have Discord up when I'm around (and often when I'm not). Email's OK too. Issues and PRs will make it to Github.

It's separate from this present issue (which has a PR submitted to close it).

For background... t

[2019-09-23 02:36] tannewt commented on #74
I recommend public chatter. That way others can follow along as well. Feel free to chat in #circuitpython or I could add an #esp32spi channel.

[2019-09-23 14:08] brentru commented on #74
@anecdata @docmollo I'd be more than happy to discuss changes or help out testing on the public discord, feel free to ping me Monday thru Thursday. on the #circuitpython channel or tag me on issues/pr's.

We have a `digitalio` class within ESP32SPI, is this what you mean by digitalRead? I think adding a separate `analogio` class which mocks CircuitPython's `analogio` would be a good way to impleme

[2019-09-23 14:57] anecdata opened #76 "Implement Digital Read & Analog Read counterparts to proposed NINA FW command handlers"
@docmollo, @brentru, @tannewt, @ladyada

I'm moving the discussion here for the ESP32SPI side of handling analog and digital reads from ESP32 hardware in the context of CircuitPython ESP32SPI. This issue consolidates #46 (which could be closed since it's subsumed under this one), and the later discussions in #74 (read there for more background on this issue) which were only tangentially related to

[2019-09-23 15:00] brentru commented on #76
@anecdata  Your implementation plan looks solid, let me know if you'd like assistance or code reviews. Looking fwd. to testing!

[2019-09-25 18:55] anecdata commented on #74
Closing this issue, PR #75 has been merged. Thanks @brentru for review and test! Any additional command handlers should be addressed in separate issues / PRs.

[2019-09-25 18:55] #74 closed

[2019-09-27 02:46] anecdata commented on #76
Just noticed that, unlike 16-bit core CP analogio, the analog write in esp32spi is [8-bit](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/83fe4b3a275f0b124d3c952a21d8e5f191f207d3/adafruit_esp32spi/adafruit_esp32spi.py#L772)  From a cursory check, PWM (all? GPIO pins) and DAC (pins 25 & 26) are both 8-bit, so this makes sense. Not sure if `digitalWrite()` actually uses DAC on thos

[2019-09-27 18:49] anecdata commented on #76
There seems to be only INPUT and OUTPUT in NINA, no facility for internal Pull. That's fine. (Using Arduino...) Pins 32 & 33 float at a low voltage, 35 floats with unconnected battery. 34, 36, and 39 are 0.00 on this Feather for whatever reason. Watching batteries charge is only slightly more interesting than watching paint dry.

[2019-09-29 00:43] docmollo commented on #76
@anecdata So I've poked through the NINA fw....I might have bitten off more than I can chew by volunteering to help you ;)

I also re-read Issue #74 where I had originally volunteered. I saw what you were talking about on the Arduino fork of the NINA fw. On the upside, they already have the code to in their library for the digitalRead...but they don't have any library code to support the analogRea

[2019-09-29 03:16] anecdata commented on #76
@docmollo Gotcha, thanks. I’m not a pro at this either. The layers of abstraction and even how some of the data types get used in some of the C libraries makes my head spin.

I got back into Arduino after a couple of years to make a little test bed for this, and the low level esp analog stuff gets thick with calls for resolution, attenuation, etc. I don’t think we need to go that deep if Arduino l

[2019-09-30 04:35] anecdata commented on #76
@docmollo I poked around a little, and I think I'm seeing what you pointed out above, that there's not any [analog read](https://github.com/adafruit/nina-fw/blob/master/arduino/cores/esp32/wiring_analog.c) in NINA like there is for [digital read](https://github.com/adafruit/nina-fw/blob/master/arduino/cores/esp32/wiring_digital.c).

Analog write uses an LED Control PWM [peripheral](https://docs.es

[2019-10-02 21:02] anecdata commented on #76
See Addenda in the comment above. Analog read may be as streamlined as doing these three [calls](https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/adc.html#application-examples). A more fleshed-out [example](https://github.com/espressif/esp-idf/blob/4dac7c7df885adaa86a5c79f2adeaf8d68667349/examples/peripherals/adc/main/adc1_example_main.c) has production-date-dependen

[2019-10-10 13:47] brentru commented on #76
@anecdata  I've updated nina-fw to ESP-IDF 3.3, new nina-fw releases will be built with ESP-IDF 3.3 going forward. Not sure how/if this impacts this issue, release notes are [here](https://github.com/espressif/esp-idf/releases/tag/v3.3).

[2019-10-13 16:31] anecdata commented on #76
I have a working `digitalRead` NINA & ESP32SPI.

The build using IDF v3.3 ultimately worked (had never done it before). Some errors along the way, not sure if these are specific to my setup or relevant to others, but here they are fwiw:

- Using macOS 10.15... had to update command line tools, manually install some required python packages, and allow a whole bunch of components to access disk (new

[2019-10-13 16:49] jerryneedell commented on #76
@anecdata IIRC -- the no_reset is not used if you are directly connecting to a feather esp32 -- but it should be used for the passthrough cases.
Also, when doing the direct connection to an esp32 I sometimes found it necessary to do and erase_flash before loading a new image. Sometimes the new image would not work when copied over an old one especially if I had MicroPython on the esp32 first.

[2019-10-13 17:01] anecdata commented on #76
@jerryneedell I hadn't tried flashing over something different yet.
Thanks for the `no_reset` clarification. I couldn't find the old instructions for directly flashing an ESP32 Feather or Huzzah breakout, most folks now I suppose doing some kind of passthru onto an all-in-one or over to an Airlift add-on.

[2019-10-13 17:04] jerryneedell commented on #76
FYI -- the "old way" is here https://learn.adafruit.com/adding-a-wifi-co-processor-to-circuitpython-esp8266-esp32/program-with-esptool#programming-esp32-spi-firmware-with-esptool-4-7

[2019-10-14 13:06] brentru commented on #76
@anecdata

Exciting! When you're ready to wrap/bundle, pls tag me on the PR so I can test the work!

[2019-10-14 20:24] anecdata commented on #76
@jerryneedell "old" is the new "new" ;-)

@brentru I'm working on analog read, cleaner to release both, unless I get stuck. Haven't done much analog before, Even writing an analog value on ESP32 and reading it on SAMD51 isn't accurate to the 8-bit level of write precision, even with averaging multiple samples. Granted, this is breadboarded with jumper-antennae all over and there's been no calibrat

[2019-10-15 15:03] anecdata commented on #76
It seems right for analog read to return to CircuitPython with an integer containing a 16-bit value (an integer with a default 12-bit value comes back from the ESP32). This is in keeping with CircuitPython's [analogio](https://circuitpython.readthedocs.io/en/latest/shared-bindings/analogio/__init__.html) using integers with 16-bit ranges.

It should be noted that ESP32SPI `set_analog_write()` take

[2019-10-17 06:55] anecdata commented on #46
[PR](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/80) for #76 has been submitted.

[2019-10-23 16:59] anecdata commented on #76
When this issue closes, #46 should also be able to close.

[2019-10-23 17:00] brentru commented on #46
Close via https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/80

[2019-10-23 17:00] #46 closed

[2019-10-23 17:23] brentru commented on #76
Close via https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/80

[2019-10-23 17:23] #76 closed

[2019-11-24 09:47] cs0ckn opened #83 "Request to include datagram type for sockets"
Is it possible to enhance the `adafruit_esp32spi_socket.socket` class to include datagram (UDP) socket type? This needed to allow connections with UDP only services like NTP.

[2019-11-24 15:37] docmollo commented on #83
I don't know if there are plans to add UDP socket support, but you mentioned NTP, so I thought I'd let you know the NINA firmware on the ESP32 does NTP and that time is available via this library's get_time() in case that is useful.

[2019-11-25 14:28] brentru commented on #83
@cs0ckn Yep - but you will need to do some hacking to expose it. As mentioned by @docmollo, there's a NTP method in ESP32SPI which uses the ESP-IDF's NTP API directly (nice helper library here: https://github.com/adafruit/Adafruit_CircuitPython_NTP)

In `adafruit_esp32spi`, you can specify the `conn_mode` as `UDP_MODE` (https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/adafru

[2019-12-04 11:32] nezra opened #84 "set_analog_read value returned"
issue or not, looking for some clarification as to why.

when  set_analog_read is returned, the result is passed but first multiplied by 16.

This means the resultant value has to be divided by 16 to get an accurate value. is there a reason for this? i used a huzzah32, with a voltage divider of :2 with 2 100k ohm resisters tied to a lipo battery and to an analog pin.

the resultant formula should

[2019-12-04 14:17] brentru commented on #84
cc @anecdata who worked on the analog read implementation

[2019-12-04 14:37] anecdata commented on #84
Yes, ESP32 natively uses a 12-bit value by default (but it can be changed to be as small as 9-bit), but for ESP32SPI a 16-bit value was chosen to be consistent with CircuitPython 'analogio'. A bit arbitrary perhaps, especially since ESP32SPI analogWrite uses a 0.0-1.0 value. I don't have a strong position on this. Certainly we could find a way to document the behavior.

[2019-12-04 15:58] anecdata commented on #84
Should also note that attenuation is a kwarg, and this affects how to interpret the voltage from the returned value.

[2019-12-04 23:31] nezra commented on #84
The logic is sound, and you've addressed my question in a pleasant and descriptive manner. i would simply request it be documented slightly more in depth, and maybe a simple example for both read and write since the values are inherently different between the two functions(maybe with one of those amazing 'how to do it' adafruit blog tutorials.

I believe the consistency with the analogio makes muc

[2019-12-04 23:31] #84 closed

[2020-01-25 02:01] evanthomas opened #86 "PyPortal pynt WiFi not working"
I just received 2 pyportals, a normal and a pynt. The normal works fine but the pynt cannot connect to my home AP. I have tried CP versions 4.0.0-beta5, 4.1.2 and 5.0.0-beta4.

The home AP gives the message 'No such ssid'. It has spaces in the name, no idea if that is relevant.

I am able to intermittently connect to my iphone (no spaces in the SSID) but it usually fails with 'Failed to connect to

[2020-01-25 18:13] ladyada commented on #86
hi please post in the forum - this is not where we are able to answer tech support :)

[2020-01-25 18:13] #86 closed

[2020-03-25 11:41] graemorrison opened #94 "adafruit_esp32spi_socket.py:readline hardcoded end of line marker"
readline in adafruit_esp32spi_socket uses a hardcoded end of line marker as '\r\n', this obviously does not work for all systems, it should be made definable.

I have updated the routine to do this and tested it out on a pyportal but do not have permissions to push a new branch back to the repo, please see the attached updated code (used a .txt suffix as .py is not allowed)

[adafruit_esp32spi_soc

[2020-03-25 14:13] FoamyGuy commented on #94
@graemorrison if you are up to it can you go ahead and make a Pull Request with these changes? There is a guide here on how to do this for circuitpython projects: https://learn.adafruit.com/contribute-to-circuitpython-with-git-and-github. You'll make a fork of the project and then make your changes within a branch of your fork. Then come back to this repo and create the Pull Request selecting your

[2020-03-25 14:27] graemorrison commented on #94
Thanks for the pointer @FoamyGuy - I'm more than happy to go down that road, will get on with it and let you know,

[2020-04-29 20:35] kattni commented on #28
This was resolved in #29 .

[2020-04-29 20:35] #28 closed

[2020-04-29 20:38] kattni commented on #54
@ATMakersBill Are you still running into this issue with CircuitPython 5.x and the latest lib bundle?

[2020-05-04 19:34] kattni commented on #48
@turbinenreiter Are you still experiencing this issue?

[2020-05-04 19:35] kattni commented on #41
@MisterC925 Are you still experiencing this issue?

[2020-05-04 19:36] kattni commented on #9
@jerryneedell Have you made any progress on this?

[2020-05-05 07:22] turbinenreiter commented on #48
I haven't tried since, and honestly I can't even remember in which of my projects I had this issue :D

[2020-06-02 15:48] jimbobbennett opened #100 "Add a reconnect method to the WiFi manager"
There is currently no single method way to reconnect the WiFi manager if the connection is lost. Currently it's a two step process:

[code]

It would be nice to have a single call to do this - `wifi.reconnect()`

[2020-06-02 17:54] jimbobbennett commented on #100
Update to this - the WiFi manager get/post/put methods all initiate a connection if not connected, so when using these methods `reset` is enough to recycle the connection.

The problem comes when using the socket directly, for example when using the MQTT libraries or the ESP object directly. In this case `connect` needs to be called explicitly.

This leads to three options that I can see:

1. Do n

[2020-06-02 18:14] brentru commented on #100
I do not like this option, `reset` resets the physical hardware. A `reconnect` method could perform a hardware reset, check the module status, then reconnect the socket. MiniMQTT is designed to resubscribe to existing topics.

Which examples have this issue?

[2020-06-02 18:29] jimbobbennett commented on #100
An example would be the Azure IoT library - this uses the socket and network interface which are passed to miniMQTT. If code uses the WiFi manager to connect, then gets a connection issue and needs to reconnect that involves resetting the WiFi manager and reconnecting.

Or am I overthinking this, and should add a connection check and auto reconnect to the IoT library when reconnecting?

[2020-06-02 19:48] tannewt commented on #100
I think this is the crux of the API design for CircuitPython networking libraries. I don't know what the right answer is.

It feels like the protocol level (HTTP, MQTT) will need to know what to do on reconnect in order to get back into it's current state. Python's socket doesn't have a `reconnect` but it does have `connect`. Perhaps a protocol layer should be able to call connect again and it can

[2020-06-19 13:47] brentru commented on #100
@tannewt

I like this. The socket which already has access to the interface, `wiznet`/`esp`, would handle network reconnection within `connect`. So if a `recv` times out, the protocol (`minimqtt`/`requests`) could call `connect` to reset and reconnect the connection?

[2020-06-19 18:33] tannewt commented on #100
Yeah, by basically getting a new socket.

[2020-06-26 03:44] robmarkcole commented on #48
I am also experiencing this when using with the minimqtt lib in a `while True` loop on a pyportal. At a random time [my script ](https://github.com/robmarkcole/Useful-python/blob/master/Circuitpython/pyportal/code.py)will fail with `ESP32 not responding`. I understand this is intended behaviour, so what is required is a strategy to deal with it. Perhaps placing the entire script within a try, exce

[2020-06-26 13:24] brentru commented on #48
@robmarkcole

Yes, we do something similar in the Adafruit IO post example here: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/examples/esp32spi_aio_post.py#L69

[2020-06-30 20:41] #54 closed

[2020-06-30 20:42] dherrada commented on #48
Appears to be resolved. @robmarkcole Let me know if you're still having issues with this and I can reopen

[2020-06-30 20:42] #48 closed

[2020-06-30 20:43] #41 closed

[2020-07-02 09:36] evanthomas opened #102 "No recovery after Timed out waiting for SPI char"
I have an application that polls a couple of endpoints, with adafruit_requests, every few seconds and makes a nice display. Every few minutes adafruit_requests fails with: "Timed out waiting for SPI char" in adafruit_esp32spi.py line 271. Once this happens the stack becomes permanently borked with all subsequent calls failing with the same error. The only way to recover that I've found is to reboo

[2020-07-02 18:26] tannewt commented on #102
Thank you for the example! I'm hoping to look at the ESP32SPI stuff today. I'm reworking requests a bit and need to test them together.

[2020-07-16 13:45] kyleplo opened #103 "TypeError: unexpected keyword argument 'socknum'"
When I run the server example, I get this error.

I am running this on an Adafruit PyPortal

[2020-07-16 14:03] jerryneedell commented on #103
Are you using the latest versions of the libraries?  I just ran it on my PyPortal and it works normally.

[2020-07-16 14:24] kyleplo commented on #103
No, I just updated. Let me try again

[2020-07-16 14:27] kyleplo commented on #103
Now it works!

[2020-07-16 14:27] #103 closed

[2020-07-16 18:51] jackhwolf commented on #102
hi, any updates on this? having basically exactly the same issue. Thanks!

[2020-07-17 18:53] tannewt commented on #102
Note: I'm reworking a lot of these APIs. I talk the changes over on my stream here: https://www.youtube.com/watch?v=jfRjlu3oCDA (Newer streams will show more progress.)

[2020-08-11 10:42] kevinjwalters commented on #102
FYI, there's a post which happens to mention `Timed out waiting for SPI char` on a PyPortal Titano in the forums, gmreader addition to: [Adafruit Forums: wget didn't write a complete file](https://forums.adafruit.com/viewtopic.php?f=60&t=162203).

[2020-09-29 22:48] siddacious opened #108 "ESP_SPIcontrol._wait_for_ready is eating lots of time polling the READY/BUSY pin"
Context:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/106
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/master/adafruit_esp32spi/adafruit_esp32spi.py#L176

I haven't verified this exhaustively, but as far as I can tell, practically every method in ESP_SPIcontrol will at some point call _wait_for_ready somewhere in it's call stack.

I've got a simple sensor lo

[2020-09-30 18:29] tannewt commented on #108
When this is an important issue, we should do it with `asyncio` because that is how it's done in CPython. Doing it another way will just make it harder to move to asyncio after and be inconsistent in the meantime. I don't actually think we're that far from `asyncio` support, it just needs a reason to work on it. @warriorofwire has gotten it pretty far and may have ideas about this library.

[2020-09-30 18:53] siddacious commented on #108
What do you mean by "when this is an important issue"? It seems important now. Perhaps you meant "while"?

[2020-09-30 20:11] WarriorOfWire commented on #108
Yeah looking at that PR I'm inclined to congratulate you on an industrious workaround that worked for your project.  That this library has a _wait_for_ready method means that it can pretty easily support both async and synchronous patterns.

I need to revitalize my circuitpython development environment on my new machine and finish async support.  Or maybe you're interested?  :-)

[2020-10-01 07:27] siddacious commented on #108
It would be interesting to see how the async code you're working on is coming together, however relying on me to get it done would be a good way to not see it be finished this year as I'm already waist deep in several projects.

[2020-10-01 17:16] tannewt commented on #108
Sorry, I should have said, "When this is our top priority", or left it off entirely. I'd like to see it done with asyncio. I don't have the time to make that happen. Hopefully someone else can help us get there sooner.

[2020-10-02 15:28] team3572 opened #109 "parse_header Error trying to import adafruit_esp32spi.adafruit_esp32spi_wsgiserver"
I'm new to the entire CircuitPython library.
Was following an online example to create a HTTP server and this line in the example is throwing an error...

`import adafruit_esp32spi.adafruit_esp32spi_wsgiserver as server`

Error is..
[code]
I do have the adafruit_requests library installed.

But maybe I have something incorrect in my installation.
I do have other things working using CircuitPython

[2020-10-02 22:31] tannewt commented on #109
Oops! I think I broke this. `parse_headers` is not actually part of the requests API. We'll need to pull the implementation into this library. The code is here: https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/master/adafruit_requests.py#L268

Do you want to try that? You can get guidance on [our Discord](https://adafru.it/discord)

[2020-10-05 18:00] siddacious commented on #108
Where is it in terms of priority? I'm asking because before too long there's going to be another 4k+ users of this library and it would be nice to provide them a better experience if possible

[2020-10-06 23:28] tannewt commented on #108
@siddacious Not very high. I'm more concerned with using less memory during requests than allowing for concurrency.

[2020-10-09 00:49] siddacious commented on #108
@tannewt holy cow I had no idea:
![image](https://user-images.githubusercontent.com/1183985/95440628-069bd480-090e-11eb-8a18-bca3b08b0d23.png)

[2020-10-09 17:15] tannewt commented on #108
Yuuuuup! I've made a number of changes in https://github.com/tannewt/Adafruit_CircuitPython_ESP32SPI/tree/split that would be great to merge into main.

[2020-10-12 19:25] siddacious commented on #108
@tannewt 👀

[2020-10-24 03:49] mikejc58 opened #110 "TypeError when calling ESPSPI_WiFiManager.signal_strength"
In adafruit_esp32spi_wifimanager.py, ESPSPI_WiFiManager.signal_strength() accesses self.esp.rssi as a function, but it is a property.

`return self.esp.rssi()`  should be `return self.esp.rssi`

[2020-10-27 00:39] siddacious commented on #110
Fixed via #111

[2020-10-27 00:39] #110 closed

[2020-10-30 23:36] siddacious commented on #108
@tannewt is the above `split` branch still wanting to be merged? I saw a bit of talk around NINA/ airlift stuff so I wanted to make sure it wouldn't be obsolete by the time it was mergeable

[2020-11-03 00:12] tannewt commented on #108
@siddacious I think it'll be easier to slim down the changes in `split` to just the wifi and socket APIs that match the new S2 API and then merge them into the Airlift API. The `ESP32SPI` library has corner cases that will be hard to test like digitalio support.

[2020-11-03 07:20] diomark opened #113 "Unstable connectivity with Matrix Portal and most of the internet demos"
Having issues w/ the Matrix Portal and the internet demos. The only internet demo that works is the Quote board matrix display.

Using adabox016 components
adafruit-circuitpython-matrixportal_m4-en_US-6.0.0-rc.1.uf2
adafruit-circuitpython-bundle-6.x-mpy-20201101.zip

It takes a very long time  (~30seconds-1minute) to get a wifi connection and grab quotes with the Quote board matrix display.

Seria

[2020-11-03 14:25] ladyada commented on #113
can you get the very latest bundle? a few fixes have gone in recently

[2020-11-03 15:27] diomark commented on #113
I grabbed the latest nightly bundle last night with same results. Is there anything new since? I'll check.

[2020-11-03 18:18] diomark commented on #113
Just checked - already running latest bundle from https://circuitpython.org/libraries (adafruit-circuitpython-bundle-6.x-mpy-20201101.zip)  - also I've tried both adafruit-circuitpython-matrixportal_m4-en_US-6.0.0-rc.1.uf2 as well as adafruit-circuitpython-matrixportal_m4-en_US-20201103-0d0436b.uf2 (nightly build)

[2020-11-03 18:25] tannewt commented on #113
Thanks @diomark. I'm looking at it now.

[2020-11-03 18:58] tannewt commented on #113
@diomark I am seeing the `Failed to send 3 bytes` message but then it attempts again and works. (I'm using the weather example from here: https://learn.adafruit.com/weather-display-matrix/code-the-weather-display-matrix ) Are you seeing any successful fetches?

[2020-11-03 21:23] diomark commented on #113
I tried it twice and received the reload error both times after the intiial weather bpm was displayed. I'll reload and try again. (currently have the quote from io.adafruit.com code loaded)

[2020-11-03 21:28] diomark commented on #113
loaded this time.. but.. it's just flakey..  log attached. (btw router is like 5ft from this device..)

[code]

[2020-11-03 21:31] diomark commented on #113
reset - log from next run (struggles to get on wifi, then lots of using more memory to be compatible messages)

[code]

[2020-11-03 21:39] diomark commented on #113
also - here's the results from the adafruit_matrixportal (this one throws errors directly in adafruit_requests.py)

[code]

[2020-11-03 21:42] tannewt commented on #113
The `Socket missing recv_into. Using more memory to be compatible` error can be ignored. I added hoping someone would see it and add recv_into. :-)

Are you far from your access point? I think my example may be more reliable because I'm near mine. It usually gets on the WiFi with the first try.

[2020-11-03 21:42] diomark commented on #113
second run from Matrix_Portal_Learn_Stats

[code]

[2020-11-03 21:43] diomark commented on #113
Nope. literally working on the same desk as the wifi router.. (they're 4-5 feet away from each other)

[2020-11-03 21:45] tannewt commented on #113
What brand of router is it? I'm not that close. :-) Mine is in a room below mine.

I've seen something similar to your output where it warns that it couldn't connect but then continues to try and make a request. That's weird to me.

[2020-11-03 21:48] diomark commented on #113
Eero pro. hardwired to ethernet. (no issues w/ other iot devices (mostly esp8266's) around here. they usually connect first try..)

[2020-11-03 21:52] diomark commented on #113
Putting the can't find ssid issue aside, the Matrix_Portal_Learn_Stats is consistently failing with the same error once it does connect.

[code]

[2020-11-03 22:08] diomark commented on #113
Back in the weather app - clean-runs (two times in a row) - but - slowed down significantly because of the socket missing recv_into using more memory to be compatible issue.. Is there a way to tell it to use more memory to start with?

[code]

[2020-11-03 22:16] tannewt commented on #113
It will use more memory when it prints that message.

I'm trying to add debug prints to the nina firware on the ESP32 but am having trouble getting it going.

[2020-11-03 22:36] diomark commented on #113
tnx Scott - let me know f you'd like me to test anything.

[2020-11-03 22:53] diomark commented on #113
Weather sketch has been running for a while; now I'm seeing the failed to send 3 bytes message..
![image](https://user-images.githubusercontent.com/20622085/98049349-58882b00-1de4-11eb-801c-8157530ccd60.png)

[2020-11-04 18:33] tannewt commented on #113
@diomark Does it always recover? This can happen when the socket is closed before we send.

[2020-11-05 02:29] tannewt commented on #113
@diomark Please try #114 in conjunction with adafruit_requests.py from here: https://github.com/tannewt/Adafruit_CircuitPython_Requests/tree/better_error_handling

[2020-11-11 19:43] diomark commented on #113
The new libraries at adafruit-circuitpython-bundle-6.x-mpy-20201111 have been much more stable.  Matrix_Portal_Learn_Stats is now working.

[2020-11-12 01:02] tannewt commented on #113
Ok, great! Closing the issue. If folks find further problems, please open a new issue.

[2020-11-12 01:02] #113 closed

[2020-11-12 17:16] Anton-2 commented on #109
Fixed in #115 . With this PR I was able to make a WSGI app on a MatrixPortal allowing uploading of pictures...

[2020-11-16 01:45] astrilchuk opened #116 "MatrixPortal won't soft reboot using esp.reset()"
Using firmware version 1.7.1 and CircuitPython 6.0.0 rc2 I'm not able to soft reboot via esp.reset().  Example code is shown below.  It's as if esp.reset() simply acts as a no-op.

I am occasionally getting an 'ESP not responding' error which I'm trying to consistently reproduce.  But in the meantime I'm not able to recover from the error by forcing a reset.

[code]

[2020-11-16 22:26] tannewt commented on #116
What do you mean by soft reboot? esp.reset() won't control anything about CircuitPython.

[2020-11-16 23:13] astrilchuk commented on #116
Ya, I'm starting to understand that is only the co-processor.  I read in the CircuitPython docs that esp.reset() "Hard reset the ESP32 using the reset pin".  So I assumed that meant the whole board.  How would I perform a board-level reset?

I've run into the 'ESP not responding' error dozens of times and I'm at wit's end trying just simply recover from it (having said that, my latest tests seem p

[2020-11-17 21:40] tannewt commented on #116
You can do [`microcontroller.reset()`](https://circuitpython.readthedocs.io/en/latest/shared-bindings/microcontroller/index.html#microcontroller.reset) but this isn't board level. That will only reset the SAMD51. The soft_reset equivalent is `supervisor.reload()`.

I'd suggest increasing the ESP32SPI not responding timeout here: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/mast

[2020-11-18 14:37] astrilchuk commented on #116
Thanks for that, I'll have a look at those methods.

Fortunately, with my latest tests, I've been able to recover from an MQTT/"ESP Not Responding" error by performing an esp.reset(), reconnecting to wifi, and finally reconnecting back to the MQTT server.  This has alleviated my need for a hard or soft reset.

I am connected to a local MQTT instance and I believe the error will occur when the MQTT

[2020-11-18 14:37] #116 closed

[2020-11-30 00:20] kevinjwalters commented on #102
And a question about how to handle/recover in an application: [Adafruit Forums: How to gracefully handle "Timed out waiting for SPI char"?](https://forums.adafruit.com/viewtopic.php?f=60&t=172331).

[2020-12-09 17:00] nothans opened #119 "Typo in "wifitest" page hosted on the Adafruit website"
I found a small typo on the "wifitest" page hosted at the Adafruit website: http://wifitest.adafruit.com/testwifi/index.html

Returns: This is a test of Adafruit WiFi! If you can read this, its working :)

*its* should *it is* - I understand why you might not want to use the apostrophe.

[2020-12-09 17:01] ladyada commented on #119
yes - i personally dislike apostrophes :)

[2020-12-09 17:01] #119 closed

[2020-12-26 20:08] ajs256 opened #120 "Documentation on status LED?"
I can't seem to find documentation on how this library controls the NeoPixel on my MatrixPortal. Could someone please point me to where I could find that?

[2020-12-26 20:46] jerryneedell commented on #120
This is probably not what you were asking for but hopefully it will help.
It is used by the Wifi manager  https://learn.adafruit.com/adafruit-pyportal/internet-connect#wifi-manager-3034791-36 , but you are correct, the actual usage is not documented. The simplest thing now would be to look at the code for places where the pixel_status is set -- for example
https://github.com/adafruit/Adafruit_Circ

[2020-12-28 16:30] dhalbert opened #121 "__init__ arguments are not Pins"
The arg names here are suffixed as `_pin`, but they should actually be `DigitalInOut` objects. The arg names could be clearer, maybe `_dio` or just drop the suffix. At least one user might have been confused by this: https://forums.adafruit.com/viewtopic.php?f=60&t=173353.

https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/fce466bd2bb70ca86b79e5cb36bbaca00afacfd1/adafruit_esp32spi/a

[2020-12-28 16:42] brentru commented on #121
@dhalbert  I think dropping the suffix would be clearer compared to substituting `_pin` for  `_dio`

[2021-01-03 22:09] flavio-fernandes commented on #102
I'm hitting the same issue while using the adafruit_minimqtt library:

[code]

Attempting to to catch the exception and doing wifi.reset() followed by mqtt.reconnect() does
not work at all. As mentioned in https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/issues/102#issuecomment-735482280

Looking a the code:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/fce466bd2bb70c

[2021-01-05 22:44] tannewt commented on #102
Not that I can think of. There is a lot of complexity here between the ESP32SPI driver and the nina firmware that I don't know how to simplify.

I think your idea to be more resilient is a good one. Networking can cause errors at any time and that's tricky to handle well.

[2021-01-05 23:09] flavio-fernandes commented on #102
Ack. I opened an issue in PyPortal : https://github.com/adafruit/Adafruit_CircuitPython_PyPortal/issues/98  . I hope to be able to solve this from that angle. I see you are also very active there, so any help will be much appreciated. :) Thanks!

[2021-01-07 19:44] otherguy opened #123 "Can not get it to work on Feather M4 + AirLift: RuntimeError: Error response to command"
I have a Feather M4 Express with an AirLift FeatherWing. They are not stacked but sit next to each other on a breadboard. They share a common ground and get +5V through the VUSB pin. I believe I have connected all required (and more) pins: SCK, MOSI, MISO, RX, TX, as well as D10, D11, D12, D13.

I'm running CircuitPython 6.0.1 (or 6.1.0rc0 and lately 6.1.0-rc.0-13-g6abf0a5d1, but same error there)

[2021-01-13 02:16] flavio-fernandes commented on #102
@kevinjwalters @tannewt ^^  ;)

[2021-01-15 15:11] anecdata commented on #63
The two pull requests above summarize the current state of power control of the ESP32 NINA co-processor:
- NINA sets a nominal lower power mode by default that reduces power usage about roughly half when not communicating with the AP. This is the normal level of opereation already. There is a higher power saving mode that would require NINA and ESP32SPI changes, but also may introduce operational

[2021-01-15 15:15] brentru commented on #63
Exciting!

[2021-01-17 02:45] anecdata commented on #63
Just a note that ESP32SPI NTP using `esp.get_time()` doesn't play well with staying disconnected until needed since the ESP32 needs some interval (~15 seconds I believe) after connection before it will return valid seconds.

[2021-02-21 03:04] KTibow commented on #102
What's the status of this issue? Is there anything I can do to move this forward?

[2021-02-22 02:49] flavio-fernandes commented on #102
AFAIK, this was actually an issue in dafruit_CircuitPython_MiniMQTT, where receive code was expecting
to get no less than the number of bytes parameter:

     https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT/issues/54

I could be out of context here if this is not related to CircuitPython_MiniMQTT. Apologies, if that it the case.
Otherwise, this resolved in  https://github.com/adafruit/

[2021-02-22 02:52] KTibow commented on #102
Got it. I installed from master. Now I just need to find out how to fix `RuntimeError: Failed to send 2 bytes (sent 0)`

[2021-02-22 14:09] brentru commented on #102
You may want to upgrade your ESP32 Airlift's firmware.

https://learn.adafruit.com/upgrading-esp32-firmware/upgrade-an-external-esp32#upload-serial-passthrough-code-for-feather-or-itsybitsy-3055058-4

[2021-02-22 19:40] KTibow commented on #102
@brentru that worked! Thanks!

[2021-02-26 00:52] ALEEF02 commented on #102
What's the workaround for this? Currently having this issue as well - sending multiple GET requests often leaves me with `RuntimeError: ESP32 timed out on SPI select`

[2021-02-26 01:47] KTibow commented on #102
Update all of your libraries, install the CircuitPython beta, and update your ESP32 firmware.

[2021-02-28 05:36] evan-wehi commented on #102
Sorry, the symptoms are very slightly different but the test code above still fails in the same way. The only difference I can see is that first timeout on the bad URL produces the message "ESP32 not responding" but the stack is still broken and unrecoverable.

Have changes gone into the beta yet?
I'm using CP 6.2 beta, 6.x libraries and FW 1.7.1

The underlying network stack doesn't seem to be an

[2021-02-28 05:38] evanthomas commented on #102
Sorry, the symptoms are very slightly different but the test code above still fails in the same way. The only difference I can see is that first timeout on the bad URL produces the message "ESP32 not responding" but the stack is still broken and unrecoverable.

Have changes gone into the beta yet?
I'm using CP 6.2 beta, 6.x libraries and FW 1.7.1

The underlying network stack doesn't seem to be an

[2021-02-28 14:47] KTibow commented on #102
Are you sure it's unrecoverable? What happens if you try to catch it and retry?

[2021-02-28 21:10] evanthomas commented on #102
Yes, I am. My production code catches and retries 5 times and then gives up and reboots. Can you please have a look at the example I posted when I raised the issue. Why does the second request fail?

[2021-03-04 09:05] evan-wehi commented on #102
@flavio-fernandes  I am right in understanding that you closed this issue because a defect in the mqtt library was fixed?
This defect has nothing to do with mqtt.

[2021-03-04 09:19] evanthomas commented on #102
@flavio-fernandes  I am right in understanding that you closed this issue because a defect in the mqtt library was fixed?
This defect has nothing to do with mqtt.

[2021-03-04 20:13] HerbertUnterberger commented on #102
same with me not using the mqtt

i use PyPortal fetch

[2021-03-04 22:22] flavio-fernandes commented on #102
Yes, kinda. ;) From my understanding, the changes on how [SPI handles receive in PR112](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/112) affected CircuitPython_MiniMQTT. Moreover, @tannewt [convinced me that the handling](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/issues/102#issuecomment-754947339) due to  that change is best if done at a higher layer, which u

[2021-03-04 23:05] evanthomas commented on #102
I can't reopen it.

[2021-03-05 16:39] brentru commented on #123
Could you try upgrading your ESP32 firmware to the latest version of the nina firmware?
https://learn.adafruit.com/upgrading-esp32-firmware/upgrade-an-external-esp32#upload-serial-passthrough-code-for-feather-or-itsybitsy-3055058-4

[2021-03-26 14:58] brentru commented on #123
@otherguy  Have you tried the steps above?

[2021-04-03 19:03] mikejc58 commented on #102
I have been plagued by  the 'Timed out waiting for SPI char' exception for a long time, both on a Matrix Portal and PyPortal.  To try to understand what was going on, I added code to ESP_SPIcontrol._wait_spi_char to increase the timeout to 1 second and to record the times for each request.  Here is what I found:

Running for 8 hours with a simple application on a PyPortal,  talking via a socket to

[2021-04-05 13:08] brentru commented on #102
@mikejc58  Which nina-fw version is running on the ESP32?

[2021-04-05 23:07] mikejc58 commented on #102
It is Nina-fw-1.7.1  And circuitpython 6.1.0

BTW, I am doing some more experiments, and will let you know when done (a few days).  But, I had an error in my comment of 2 days ago.  I said the average time for calls to wait_spi_char that were less than 1ms was less than 5 microseconds.  That was completely wrong (silly math mistake), the actual average of those requests seems to be about 115 micro

[2021-04-06 15:12] mikejc58 commented on #102
I've concluded my experiments and have attached a file here with details.

In short, my conclusion is that all of the '**Timed out waiting for SPI Char**' exceptions that I've gotten are due to garbage collect.  I believe the best course of action is to abandon timing these requests and substitute a simple retry counter.  For the millions of requests that I've tracked there were none that failed o

[2021-04-06 15:14] ladyada commented on #102
@mikejc58 good sciencing :) want to submit a PR?

[2021-04-06 16:15] mikejc58 commented on #102
Sure.  I am going to run with the code that I will push for a while first though.

[2021-04-09 02:27] mikejc58 opened #133 "esp.disconnect leaves the ESP32 in a bad state"
I am writing an application on a PyPortal that needs to talk to two access points.  After connecting to the first and communicating via socket with a host there, I close the socket and do an esp.disconnect() to disconnect from the access point.  This seems to work.  The esp's status goes to WL_DISCONNECTED.
I then connect to the second access point with the esp's status going back to WL_CONNECTED.

[2021-04-09 02:48] mikejc58 commented on #133
The more elaborate test and its output:
[elaborate.txt](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/files/6282834/elaborate.txt)

[2021-04-15 01:24] askpatrickw opened #134 "Only allows one TLS connection at a time"
In [release 3.5.3](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/releases/tag/3.5.3) a change was made:
"Only allow one TLS connection at a time. Nina FW doesn't work well with multiple."

This broke the Azure_IOT workflow where you use HTTP to determiner your Iot Hub and then connect to it over MQTT.
https://github.com/adafruit/Adafruit_CircuitPython_AzureIoT/pull/31#issuecomment-81

[2021-04-21 05:58] faithanalog opened #135 "UDP send() does not clear esp32 write buffer"
## My Platform:
- metro m4 airlift lite
- adafruit nina-fw 1.7.3
- circuitpython 6.2.0
- April 20, 2021 library bundle

## The problem:

udp.send() appends to the write buffer instead of replacing it. This results in the following behavior:

[code]

will actually send

[code]

and this continues until the esp32's internal write buffer is full. at which point calls to send() will only send the buff

[2021-04-21 06:34] faithanalog commented on #135
Personal opinion part: I think that more generally the attempt to implement udp traffic under the api designed for tcp is maybe not a great long term solution.

The current implementation implements udp with patches on functions originally designed for tcp connections. So it runs `startClientTcp()` which in the case of `udp` just calls `beginPacket()` and returns. Then it runs `startServerTcp()` t

[2021-04-21 16:57] dearmash commented on #135
You have hit the nail on the head. Correct on all points.

My goal with the original UDP PR #97 was to simply get it working enough for my use case, knowing very little of what the "general" UDP use case would be. Also there were pre-existing stubs in the code labeled as "not implemented", I assumed this was the desired api and just filled it in. I'm not the networking person whatsoever.

To get t

[2021-04-21 17:45] faithanalog commented on #135
Yeah I don't think I wrote it down how I had it in my head but the initial patch made a lot of sense as a low-impact way of initially getting some functionality in place.

Oh hey I was actually just about to write something to this extent. yeah this is the big challenge is the question of where to implement the change. I think the cleanest / most efficient solution would involve changes to nina-fw

[2021-04-21 20:16] dearmash commented on #135
That's what I keep telling myself..

[2021-05-05 00:00] otherguy commented on #123
@brentru sorry that took me a while, the M4 was in use and I didn't want to take the project down until recently.

Seems I wired everything correctly because all I did was close the solder bridges on the ESP32 / Airlift and upload the latest firmware:

[code]

After that, I ran the example code:

[code]

Looks like it went from 0 to 100 with that new firmware! Thanks for all your help!

It's stran

[2021-05-05 00:00] #123 closed

[2021-06-17 05:14] Lnk2past opened #136 "Request to local IP does not work"
All library versions are from the `adafruit-circuitpython-bundle-6.x-mpy-20210612` bundle.

- `adafruit_apds9960`
- `adafruit_ble`
- `adafruit_bluefruit_connect`
- `adafruit_bus_device`
- `adafruit_esp32spi`
- `adafruit_lsm6ds`
- `adafruit_register`
- `adafruit_bmp280.mpy`
- `adafruit_lis3mdl.mpy`
- `adafruit_requests.mpy`
- `adafruit_sht31d.mpy`
- `neopixel.mpy`

---

Not sure if this is the corr

[2021-06-17 12:54] FoamyGuy commented on #136
`127.0.0.1` is typically used as a local "loop-back" address and is only visible to the system it's running on. So if your Raspberry pi is running the flask server another software running on that same pi could successfully reach the web server at this address, but anything not running specifically on that raspberry pi would not be able to see that address you'll need to find the visible IP for th

[2021-06-18 00:14] Lnk2past commented on #136
I am still confused how my PC was able to hit the API at `127.0.0.1`, especially since I was running my flask app incorrectly. Everything is working as expected now, thanks for getting me oriented in the right direction!

[2021-06-18 00:14] #136 closed

[2021-06-20 19:15] ajs256 commented on #102
I am also running into this error with my project. I have *many* errors logged, and I will make them available for sciencing if needed. Is there any update on a fix?

[2021-06-21 16:57] ajs256 commented on #102
Should this be closed now that #132 is merged?

[2021-06-22 01:07] tannewt commented on #102
Sure!

[2021-06-22 01:07] #102 closed

[2021-08-14 13:09] Neradoc opened #137 "RGB LED doesn't turn off on arduino nano connect 2040"
The following code on the Arduino Nano Connect 2040 results in a dim white light:
[code]
To be able to turn it off, I used `esp.set_digital_write` and ended up changing the PWM pin to digital when the duty cycle is 0 or 100% like this:
[code]
This might be an issue with the Nina firmware or the board's design, but I wonder if it would be ok to have that kind of things in the base code, or if it wo

[2021-08-14 15:31] anecdata commented on #137
There was a PWM fix in the Adafruit fork of NINA <https://github.com/adafruit/nina-fw/pull/33>, that is not in the Arduino version.

[2021-08-19 21:13] rudypospisil commented on #33
I had this issue and for me, it was the spaces in my SSID. I removed them and now all is well.

[2021-09-15 15:18] anecdata commented on #133
ESP32SPI `.disconnect` simply calls `disconnect` in the NINA firmware, which uses the Arduino function `WiFi.disconnect()`. Similarly, ESP32SPI `.connect` calls into NINA, which does a `WiFi.begin(ssid, pass)`. So I think we'd have to dig into the ESP32 implementation of the Arduino functions.

I suspect WiFiNINA would behave similarly, it would be interesting if it was different.

If you can incu

[2021-09-15 15:25] anecdata commented on #83
There was a PR to add socket-level (datagram) UDP <https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/127>, example here <https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/main/examples/esp32spi_udp_client.py>.

[2021-09-15 15:25] #83 closed

[2021-09-27 16:44] FoamyGuy opened #138 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-10-20 17:30] manpowre opened #139 "Arduino RP2040 connect wifi UDP - Multicast group not working"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

ESP32 found and in idle mode
Firmware vers. bytearray(b'1.4.8\x00')
MAC addr: ['0xd0', '0xb1', '0x78', '0xa8', '0xcc', '0x84']
Connecting to AP...
Connected to zone 	RSSI: -47
ip: bytearray(b'\xc0\xa8\x02\x93')
My IP address is 192.168.2.147
udp in addr:  224.1.1.1 5500
connected local UDP
-->>> NO PACKETS recieved

ESP32 foun

[2021-10-20 17:35] manpowre opened #140 "Arduino RP2040 Connect. wifi chip integration missing Dhcp(True/False)"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The interface is missing the ifconfig to set a static IP adress:
esp.ifconfig = (IP_ADDRESS, SUBNET_MASK, GATEWAY_ADDRESS, DNS_SERVER)

this is critical for people wanting to use this device with circtuitpython to atleast be able to set a static IP, otherwise the DHCP will renew the IP adress from time to time.

I tested OpenM

[2021-10-20 17:54] ladyada commented on #140
correct, you'd have to add the capability to the driver - we have not implemented it.

[2021-10-20 20:00] manpowre commented on #140
I did some digging, the Nina interface has its commands and parameters here:
https://github.com/arduino/nina-fw/blob/master/main/CommandHandler.cpp

I implemented into adafruit_esp32spi.py:
[code]

the set_hostname works great, but the set_ip_config doesnt work. The ESP32 returns 0x00, which means failed.

Not submitting until I figured out why the set_ip_config function wont set the ip correctly.

[2021-11-01 14:41] tekktrik commented on #121
Is this something we want to do?  I'm happy to submit a PR for this :) Was also planning to add type annotations, if that helps at all.

[2021-11-18 22:18] bembengarifin opened #143 "Getting "ESP32 timed out on SPI select", then "sRepeated socket failure" for retries"
Hi,

I have a matrix portal that polls some REST API every few minutes.

It works fine but after leaving it running for few hours for few times, I noticed that it always stops working with this error "ESP32 timed out on SPI select" then further attempts (code will retry in another minute) will return "Repeated socket failure"

I use these artefacts below:
adafruit-circuitpython-matrixportal_m4-en_

[2021-11-18 23:21] anecdata commented on #143
Latest NINA firmware is 1.7.4, there have been some improvements since 1.2.2. You could try to get help on Discord for updating NINA, and for discussion of making code more resilient.

Networking errors will happen. I see the same exceptions that you are reporting, but retrying often fixes it. Some things you can try in your code., kind of in escalating order:

- try to verify that the network is

[2021-11-19 02:10] bembengarifin commented on #143
thanks for the quick and detailed response.

I managed to get 1.7.4 installed after "carefully" going through the instruction again -> https://learn.adafruit.com/upgrading-esp32-firmware/upgrade-an-airlift-all-in-one-board

The internet access/network should be fine, the matrix display is just next to the router.

I will give it a try again and follow your other recommendations in case it still fa

[2021-11-19 02:10] #143 closed

[2021-11-24 19:15] LAWBear opened #144 "Feather M4 Express not connecting with Air Lift ESP32 Coprocessor after update to NINA_W102-1.7.4"
Purchased Feather M4 Express to allow use of Air Lift ESP32 Coprocessor breakout board via SPI.
Previous test with original Air Lift firmware using Feather M0 Adalogger were successful using WIFINA examples.

Following detailed instructions, I updated firmware on Air Lift using SerialPassThru on new Feather M4 Express, and reflashed Air Lift with NINAW102-1.7.4 as clear instructions provided:
![Ca

[2021-11-24 20:12] anecdata commented on #144
Should work, I have an identical configuration, but I think this is more of a support issue. Can you post about it on the Adafruit Discord #help-with-CircuitPython, (or if not that then in the Adafruit support forums)?

[2021-12-05 15:36] JayToltTech commented on #144
@LAWBear I have an identical configuration and I had your problem *until* I flashed to W102-1.7.4 which fixed the problem.

My suspicion would be that your flash didn't work as expected.  I had to flash a few times to get it right, though I don't think I saw a 'false positive' where it said it flashed but didn't like seems to be in your case.

[2021-12-05 17:00] anecdata commented on #144
And just to be squeaky-clean about it, you can use the `erase_flash` option before the flashing step.

[2021-12-06 17:48] LAWBear commented on #144
Many thanks to the wizards, I will implement all checks and suggestions soonest.

[2021-12-29 17:44] tekktrik commented on #109
Looking through old issues, it looks like this may be fixed?

[2021-12-30 17:51] tekktrik opened #147 "Missing documentation for wsgiserver and wifimanager files"
I noticed that the built documentation doesn't feature these files, so I was wondering if that was intentional for any reason.  I assume specific files were documented so the custom PWMOut and digitalio files could be ignored, and then more were added later that never got documented?  Happy to add them to api.rst if they're just accidentally missing!

[2021-12-30 20:08] FoamyGuy commented on #120
closed by #148

[2021-12-30 20:08] #120 closed

[2022-01-07 17:12] anecdata commented on #137
Is there a way to re-file an issue to the parent repository, or push a PR up to the parent?

[2022-01-07 17:40] FoamyGuy commented on #137
@anecdata there is a way to transfer an issue to a different repo. I'm not sure what you mean to re-file it in the parent repository, if transfer would work we can do that though

[2022-01-07 18:00] anecdata commented on #137
It seems that the issue is really with the Arduino NINA firmware (parent of the forked Adafruit NINA firmware). Ideally we could push the Adafruit NINA PR up to Arduino?

[2022-01-14 01:51] #147 closed

[2022-01-14 17:59] tekktrik commented on #55
Resolved by PR #151!

[2022-01-14 17:59] tekktrik commented on #94
Resolved by PR #150!

[2022-01-15 23:07] fivdi opened #153 "Arduion Nano RP2040 Connect Issues"
When working with CircuitPython 7.1.1 on an Arduion Nano RP2040 Connect it should be possible to access a number of pins on the ESP32. However, accessing two of these pins results in errors being thrown. The pins on the ESP32 that can't be successfully accessed are pins A6 and A7, both of which are broken out to the GPIO header on the Arduino. A6 and A7 correspond to GPIO36 and GPIO35 on the ESP32

[2022-01-17 21:10] FoamyGuy commented on #94
closed by #150

[2022-01-17 21:10] #94 closed

[2022-01-19 17:31] tannewt commented on #55
Thank you!

[2022-01-19 17:31] #55 closed

[2022-01-20 20:58] anecdata commented on #153
The Arduino and Adafruit versions of NINA have diverged somewhat, particularly with the specific customizations for the Arduino RP2040 Nano Connect, including conditionals for pin definitions and use.

There was an issue opened in April 2019 in the Arduino repo to add Digital Read, which was closed as `wontfix` in September 2019, but added with the RP2040 Nano Connect merge. There was an issue ope

[2022-01-22 03:17] jasonwashburn opened #154 "recv_into() missing second argument"
Any time I try to use the requests library on my Pyportal since upgrading to CircuitPython 7.1.1 I get the following error:
[code]

I've tried multiple example files that use the library with the same result. The currently loaded version is  the code below.
[code]

I'm currently running CircuitPython 7.1.1 Stable with the adafruit_requests library from adafruit-circuitpython-requests-7.x-mpy-1.10.

[2022-01-22 04:02] FoamyGuy commented on #154
Transferred to ESP32SPI. This is where it will need to be fixed I believe.

recv_into() declared here:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/52208e4752bee510b24ac775763776231b5912cc/adafruit_esp32spi/adafruit_esp32spi_socket.py#L164

only has one parameter. But the requests library is written to pass in two arguments here:
https://github.com/adafruit/Adafruit_CircuitPyth

[2022-01-22 05:37] tekktrik commented on #154
Oops!  Didn't realize it needed a second parameter when I implemented it not long ago.  Thanks y'all, hot fix PR submitted!

[2022-01-22 17:38] FoamyGuy opened #156 "Prints password in clear text if debug is True"
This library prints the wifi password from `secrets.py` in cleartext if debug is True from the code here:

https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/52208e4752bee510b24ac775763776231b5912cc/adafruit_esp32spi/adafruit_esp32spi.py#L531

I can see how this could be helpful for troubleshooting, especially noticing if the password was incorrect. But I think it should require an e

[2022-01-22 17:39] rsbohn commented on #156
Make debug safe for streaming.

[2022-01-22 17:45] dhalbert commented on #156
How about if debug is 1 or True it doesn't print the password. If debug is >=2, it does print the password.

[2022-01-22 17:53] FoamyGuy commented on #156
@dhalbert  that sounds like a good solution to me

[2022-01-24 14:38] FoamyGuy commented on #154
Resolved by #155

[2022-01-24 14:38] #154 closed

[2022-01-24 15:58] FoamyGuy commented on #121
resolved by #146

[2022-01-24 15:58] #121 closed

[2022-01-24 16:08] FoamyGuy commented on #121
@tekktrik all of the other instances of similar `*_pin` named arguments are linked above here in this issue now.

[2022-01-24 22:42] tannewt commented on #121
I agree with @brentru that dropping the suffix is clearer than changing it to `_dio`. Adding the suffix is redundant with the type info.

[2022-01-24 22:44] tannewt commented on #156
I'd prefer a separate `show_passwords` kwarg. A kwarg is self documenting. A different debug value isn't.

[2022-01-24 22:50] tekktrik commented on #121
I can submit another PR to drop it if that's the case

[2022-01-25 19:03] tannewt commented on #121
I think it's important to point out that by taking DigitalInOut its usually meant to work with GPIO expander provided objects as well. Pin should be only used when a native pin object is expected.

[2022-03-06 17:29] dannystaple opened #158 "Could SPI issues be raised as IOErrors?"
When there are SPI failures (which I think are mostly down to underpowering the device or needing more ballast capacitors), the system raises a RuntimeError. Just so these can be handled differently (ie got wrong message back, or failed to get acknowledgment), could they be raised as an IOError?

Example:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/ef26881497c45636fcb3dbdba2f0

[2022-03-07 18:21] tannewt commented on #158
IOError is deprecated in CPython. It is now replaced by OSError. I'd be ok switching to it though.

[2022-03-25 00:42] tekktrik commented on #138
I really want to tackle this, but I just want to note here before I forget that we may want to consider adding some `typing_extensions.Protocol` types to `circuitpython_typing` to help with some of the typing in this library!

[2022-03-30 03:18] dsohrabian opened #162 "ESP failures within 1-2 hours"
I am using a Matrix Portal to make a couple post requests every 30 seconds. It sends a 2kb payload, receives a similarly small response, and updates an LED board. It works successfully for some time.  Originally when using a matrixportal.network Network object to connect to internet,   would use adafruit_requests.post method. After about 1-2 hours I would get the following error. The ESP unit stop

[2022-04-10 18:42] sullivanst commented on #139
I'm trying to work out if I can implement a discovery protocol like mDNS, DNS-SD or SSDP so I'm interested too.
From spellunking through this repo and the one for the NINA firmware library it seems that to set the socket to multicast mode you have to tweak your connect to something like this:

[code]

Hope to find out whether that actually works soon.

[2022-04-10 19:37] anecdata commented on #139
What version of ESP32SPI library are you using? Static IP was added last month in 4.1.0 <https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/releases/tag/4.1.0>

[2022-04-10 20:20] mattwTS commented on #139
I'm still super early in the whole project, only downloaded the libraries this week so I assume I'm recent enough to have that. I can also set a static DHCP lease if I need to.

I'm hoping to get this thing working in SmartThings and haven't worked out the flow that expects to pick up a device yet & the few examples I've found so far have a discovery stage, so first stab was to look at the plausib

[2022-04-11 00:31] sullivanst commented on #139
Oops I guess I was logged in with my work account in the iOS app for the previous comment.

It didn't work, and I can see why.

In `adafruit_esp32spi.socket_connect` are the following lines:

[code]

It looks like `socket_open` will fail if `conntype` isn't one of TCP_MODE, UDP_MODE or TLS_MODE because those are the only values the nina-fw firmware will accept; `conntype=3` is only valid for the c

[2022-04-16 13:45] dsohrabian commented on #162
I have run the board with ESP.debug set to True and have some debug logging showing how the ESP hangs. It has not been very insightful to me, but thought it may be helpful. This example ran for 2hr 30 minutes before freezing.

Here is the ESP writing and sending my POST request.
[code]
Here is a successful read sequence after my POST request is written and sent as above.

[code]

Here is a failing

[2022-04-18 02:36] dsohrabian commented on #162
Is there something that I might be doing wrong code-wise that is causing memory issues?
If so, is there a good way to debug to check it out?

[2022-04-18 02:40] dhalbert commented on #162
I am looking at related issues also, see for instance: https://github.com/adafruit/circuitpython/issues/6205.

I ran a simple get via the requests library every second for several hours without problem.

If you have not already done so, try updating the ESP32 firmware to 1.7.4. What version are you currently running? It's reported in the "Internet Test" example given in the guide.

[2022-04-18 03:28] dsohrabian commented on #162
Thanks for taking a look.  This definitely seems like the same issue so far.

I updated several weeks ago to 1.74 firmware for ESP32.  I will try running your simpler web fetcher and see what messages I get or if it hangs.

[2022-04-18 12:25] dsohrabian commented on #162
I adapted your code @dhalbert with tweaks of

- turning the GET into a POST request
- calls .json method and accesses a time dict key (which is printed on new line each iteration).
- changed it to 20 second interval to make sure I am not running into rate limit issues.

[code]

It connects and works great. It ran for about 6 hours and on the 1168th attempt it hung and USB unmounted. Last I saw on

[2022-05-18 12:40] dsohrabian commented on #162
I'm fairly certain now that ESP32SPI isn't the issue and the problem lies with the matrix module and object in adafruit_matrixportal.
Closing here and continuing troubleshooting in more related open issue https://github.com/adafruit/circuitpython/issues/6205

[2022-05-18 12:40] #162 closed

[2022-05-20 02:17] dhalbert opened #165 "Errors and very slow when using a simple node.js server"
https://forums.adafruit.com/viewtopic.php?f=60&t=189508, user jeremyamoore:

User is using the simple node.js server below. When I try with the simple client program, further down, fetching consecutively longer strings, requests gets stuck or runs very slowly after a few fetches.

### User node.js server
[code]
### Simple client I tried, running on a Metro M4 AirLift Lite
[code]

### I wrote a sim

[2022-05-31 20:41] #165 closed

[2022-06-06 18:19] dhalbert commented on #144
Closing as possibly resolved, please reopen if not.

[2022-07-09 19:42] wiseac opened #170 "TimeoutError: Timed out waiting for SPI char (Teensy 4.0 + Adafruit AirLift FeatherWing - ESP32 WiFi Co-Processor)"
Hello i just installed CircuitPython on my Teensy 4.0. Im trying to use a Adafruit AirLift FeatherWing - ESP32 WiFi Co-Processor. Following the guide i installed all the dependencies/ libraries and have the Wifi Co-Processor up to date. Using the ScanNetwork Arduino sketch it runs fine and i can see available networks. As soon as i use this though i get this error.

[code]

I saw a [similar proble

[2022-07-10 22:08] wiseac commented on #170
At this point in time I have it running which is great. I changed the baud rate of 8000000 (Which isn't very common, or common at all) to common values such as 115200 or the highest common 921600 and it worked.

` 154: self._spi_device = SPIDevice(spi, cs_dio, baudrate=921600)`

I did run into some scanning network problems for CircuitPython 8 alpha for the Teensy4.0 but the 7.3.1 version works gr

[2022-07-19 01:57] IanBurwell opened #171 "SPI lock not aquired"
## Problem
`adafruit_esp32spi.py` throws the below RuntimeError

[code]

## How to reproduce

1. Play a sound file _from an sd card_ (via SPI) with `audioio.AudioOut`
2. Without waiting for it to finish, use `adafruit_requests`  (which uses `adafruit_esp32spi/adafruit_esp32spi_socket`)

Inspecting the error, I would guess that `_read_byte` should be acquiring a lock on the SPI bus, which is being

[2022-07-20 19:58] dhalbert commented on #158
Fixed by #164, I would say, right, @dannystaple ? :)

[2022-07-20 19:58] #158 closed

[2022-07-20 20:23] dhalbert commented on #170
This the the SPI clock frequency -- it's not a UART baud rate, so it can be much higher. However, it's interesting that reducing the SPI clock rate improved things for you.

[2022-07-20 21:04] #144 closed

[2022-08-29 15:26] tekktrik opened #172 "Missing optional requirements"
This library has examples using external libraries that are not contained within `requirements.txt`.  These libraries should be added to `optional_requirements.txt` so they can be installed if needed when working with these examples.

[2022-08-31 12:58] #172 closed

[2022-09-10 16:20] rivques opened #174 "800 bps when serving webpage with WSGIServer"
Hi! I've been messing around with a Metro M4 Airlift Lite and hit an interesting snag when trying to serve a webpage using Adafruit's `esp32spi_wsgiserver` and `adafruit_wsgi.wsgi_app`. (Code is [here](https://github.com/rivques/CircuitPython/blob/master/internet.py) for those interested.) When serving the webpage, I was getting only about 800 *bits* per second, slow enough to cause Chrome to have

[2022-09-10 16:25] dhalbert commented on #174
My intention in the near future is to remove  `esp32spi_wsgiserver` entirely and recommend that people use generic server implementations that use `adafruit_requests`, of which there are several. This makes the library smaller and allows us to write better server implementations that can be used in more circumstances. The PR to do that is #167, which is stalled for other reasons.

[2022-09-10 16:26] dhalbert commented on #174
Your fix sounds perfectly reasonable for now, and we can get it in for posterity.

[2022-09-11 02:18] #174 closed